<?php echo $GLOBALS['doctype'] ?>
<html>
	<?php include "templates/head.html";?>
	<body>
		<?php showLayout() ?>
		<div class="container">
			<table class="table">
				<thead>
					<th>Date</th>
					<th>Wormhole</th>
					<th>FC</th>
					<th>Sites</th>
					<th>Total Isk</th>
					<th>Paid</th>
				</thead>
				<tbody>
					<?php foreach ($sheets as $sheet): ?>
						<?php 
							$rowClass = 'warning';
							if ($sheet['status'] == 2) $rowClass = 'success';
							if ($sheet['status'] == 1) $rowClass = 'ready';
							$rowWord = 'No';
							if ($sheet['status'] == 1) $rowWord = 'Yes';
							if ($sheet['status'] == 2) $rowWord = 'Paid to Corp';							
						?>
						<tr class="<?php echo $rowClass  ?>">
							<td><a href="/loot/<?php echo $sheet['rowid'] ?>"><?php echo date('Y-m-d H:i', $sheet['date']) ?></a></td>
							<td><?php echo $sheet['hole'] ?></td>
							<td><?php echo $sheet['fc'] ?></td>
							<td><?php echo $sheet['sites'] ?></td>
							<td><?php echo $sheet['isk'] ?></td>
							<td><?php echo $rowWord ?></td>
						</tr>
					<?php endforeach ?>
				</tbody>
			</table>
		</div>
		<?php include "templates/footer.html";?>
		<?php include "templates/scripts.html";?>
	</body>
</html>

