<?php echo $GLOBALS['doctype'] ?>
<html>
	<?php include "templates/head.html";?>
	<body>
		<?php showLayout() ?>
		<div class="container">
			<table class="table">
				<thead>
					<th>Date</th>
					<th>Wormhole</th>
					<th>FC</th>
					<th>Sites</th>
					<th>Total Isk</th>
					<th>My Role</th>
					<th>My Sites</th>
					<th>My Isk</th>
					<th>Paid</th>
				</thead>
				<tbody>
					<?php foreach ($sheets as $sheet): ?>
						<?php if (($sheet['status'] & 4) && !$charInfo->officer) continue; ?>
						<?php 
							$rowClass = 'success';
							if (!($sheet['status'] & 1)) $rowClass = 'warning';
							if ($sheet['status'] & 4) $rowClass = 'void';
							$rowWord = 'Yes';
							if (!($sheet['status'] & 1)) $rowWord = 'No';
							if ($sheet['status'] & 4) $rowWord += ' Void';						
						?>
						<tr class="<?php echo $rowClass;  ?>">
							<td><a href="/loot/<?php echo $sheet['rowid'] ?>"><?php echo date('Y-m-d H:i', $sheet['date']) ?></a></td>
							<td><?php echo $sheet['hole'] ?></td>
							<td><?php echo $sheet['fc'] ?></td>
							<td><?php echo $sheet['sites'] ?></td>
							<td><?php echo $sheet['isk'] ?></td>
							<td><?php echo $sheet['role'] ?></td>
							<td><?php echo $sheet['mysites'] ?></td>
							<td><?php echo $sheet['myisk'] ?></td>
							<td><?php echo $rowWord; ?></td>
						</tr>
					<?php endforeach ?>
				</tbody>
			</table>
		</div>
		<?php include "templates/footer.html";?>
		<?php include "templates/scripts.html";?>
	</body>
</html>

