<?php echo $GLOBALS['doctype'] ?>
<html>
	<?php include "templates/head.html";?>
	<body>
		<?php showLayout() ?>
		<div class="container">
			<table class="table">
				<thead>
					<th>Date</th>
					<th>Wormhole</th>
					<th>FC</th>
					<th>Sites</th>
					<th>Total Isk</th>
					<th>My Role</th>
					<th>My Sites</th>
					<th>My Isk</th>
				</thead>
				<tbody>
					<?php foreach ($sheets as $sheet): ?>
						<tr>
							<td><a href="/loot/<?php echo $sheet['rowid'] ?>"><?php echo date('Y-m-d H:i', $sheet['date']) ?></a></td>
							<td><?php echo $sheet['hole'] ?></td>
							<td><?php echo $sheet['fc'] ?></td>
							<td><?php echo $sheet['sites'] ?></td>
							<td><?php echo $sheet['isk'] ?></td>
							<td><?php echo $sheet['role'] ?></td>
							<td><?php echo $sheet['mysites'] ?></td>
							<td><?php echo $sheet['myisk'] ?></td>
						</tr>
					<?php endforeach ?>
				</tbody>
			</table>
		</div>
		<?php include "templates/footer.html";?>
		<?php include "templates/scripts.html";?>
	</body>
</html>

