<?php echo $GLOBALS['doctype'] ?>
<html>
	<?php include "templates/head.html";?>
	<body>
		<?php  showLayout();?>
    <div class="container">
  		<div class="panel panel-default">
        <button onclick="ExportEmails()" class="btn">Export Email list</button>
        <button onclick="ExportTabDel()" class="btn">Export To Spreadsheet</button>        
        <table class="template" style="display: none">
          <tr>
            <td><input <?php if ($readonly) print "readonly"; ?> class="form-control" style="margin-right: -10px; width:16px" type="checkbox" name="active" checked value="active"></td>
            <td >
              <input <?php if ($readonly) print "readonly"; ?> type="text" class="loot-form loot-name" name="name" placeholder="Name"><select <?php if ($readonly) print "readonly"; ?> class="loot-form fused-select">
              <?php  foreach ($roles as $role => $share): ?>
                <option value="<?php  echo $share; ?>"><?php  echo $role; ?>
              <?php  endforeach; ?>
              </select>
             </td>
             <td>
                <input <?php if ($readonly) print "readonly"; ?> type="text" style="text-align: right;" name="sites" value="0" class="form-control loot-sites" />
             </td>
             <td>
                <input <?php if ($readonly) print "readonly"; ?> type="text" style="text-align: right;" name="isk" class="form-control loot-isk" value="0" readonly>
             </td>
             <td>
             </td>
          </tr>
        </table>
        <div class="panel-heading">
          Totals <?php if ($paid & 1):?>- <span style="color: green">This Sheet has been marked as Paid</span><?php endif; if ($paid & 2):?>- <span style="color: blue"> This Sheet has been marked as paid to corp</span><?php endif ?>
        </div>
        <div class="form-inline panel-body">
          <div class="form-group">
           <label class="" for="wormhole">Wormhole Name</label>
           <input readonly type="text" class="form-control" id="wormhole" value="<?php echo $sheet['hole']; ?>">
          </div>
          <br />
          <div class="form-group">
           <label class="" for="sitesRan">Completed Sites</label>
           <input <?php if ($readonly) print "readonly"; ?> type="number" value="0" class="form-control" id="sitesRan" placeholder="" value="<?php echo $sheet['sites']; ?>">
          </div>
          <div class="form-group">
           <label class="" for="totalIsk">Total Isk</label>
           <input <?php if ($readonly) print "readonly"; ?> type="text" value="0" class="form-control" id="totalIsk" placeholder="" value="<?php echo $sheet['isk']; ?>">
          </div>
          <div class="form-group">
            <label class="" for="corpCut">Stahp Cut</label>
            <input readonly type="text" value="0" class="form-control" id="corpCut" placeholder="" value="">
           </div>
         </div>
         <div class="panel-heading">
           Fleet Members
         </div>
         <div class="panel-body">

          <div class="row">
            <table class="table">
    				  <thead>
                <th>Active</th>
                <th>Name and Role</th>
    				  	<th> Sites Completed </th>
    				  	<th>ISK!!</th>
                <th></th>
    				  </thead>
              <tbody>
                <tr>
                  <?php if (!$readonly || $charInfo->director): ?>
                    <td colspan="2" style="text-align: center;"><button onclick="addMember()" class="btn btn-default">Add Member</button></td>
                    <td colspan="2" style="text-align: right;">
                      <input type="text" value="<?php echo $sheet['proof']; ?>" class="formControl" id="proof" name="proof" placeholder="Payment screenshot">
                      <?php if ($paid & 1): ?>   <button onclick="togglePaid(1, false)" class="btn">Mark as Unpaid</button>
                      <?php else: ?>              <button onclick="togglePaid(1, true)" class="btn">Mark as Paid</button><?php endif ?>
                      <?php if ($paid & 2): ?>   <button onclick="togglePaid(2, false)" class="btn">Mark as not Paid to Corp</button>
                      <?php else: ?>              <button onclick="togglePaid(2, true)" class="btn">Mark as Paid to Corp</button><?php endif ?>
                      <?php if ($paid & 4): ?>   <button onclick="togglePaid(4, false)" class="btn">Mark as not Void</button>
                      <?php else: ?>              <button onclick="togglePaid(4, true)" class="btn">Mark as Void</button><?php endif ?>
                    </td>
                  <?php endif ?>
                </tr>
              </tbody>
            </table>
          </div>
  			</div>
  		</div>
  </div>
</div>
		<?php include "templates/footer.html";?>
		<?php include "templates/scripts.html";?>
    <script src="/static/js/loot.js"></script>
    <script>
      var sheetID = <?php echo $id; ?>;
      var readonly = <?php echo $readonly; ?>;
      var a = <?php echo $entries ?>; 
      updateTable(a);
      setInterval(syncLootSheet, 5000);
    </script>
	</body>
</html>

