<?php echo $GLOBALS['doctype'] ?>
<html>
	<?php include "templates/head.html";?>
	<body>
		<?php  showLayout();?>
    <div class="container">
  		<div class="panel panel-default">
        <table class="template" style="display: none">
          <tr>
            <td><input <?php if ($readonly) print "readonly"; ?> class="form-control" style="margin-right: -10px; width:16px" type="checkbox" name="active" checked value="active"></td>
            <td >
              <input <?php if ($readonly) print "readonly"; ?> type="text" class="loot-form" name="name" placeholder="Name"><select <?php if ($readonly) print "readonly"; ?> class="loot-form fused-select">
              <?php  foreach ($roles as $role => $share): ?>
                <option value="<?php  echo $share; ?>"><?php  echo $role; ?>
              <?php  endforeach; ?>
              </select>
             </td>
             <td>
                <input <?php if ($readonly) print "readonly"; ?> type="text" style="text-align: right;" name="sites" value="0" class="form-control" />
             </td>
             <td>
                <input <?php if ($readonly) print "readonly"; ?> type="text" style="text-align: right;" name="isk" class="form-control" value="0" readonly>
             </td>
             <td>
             </td>
          </tr>
        </table>
        <div class="panel-heading">
          Totals
        </div>
        <div class="form-inline panel-body">
          <div class="form-group">
           <label class="" for="wormhole">Wormhole Name</label>
           <input readonly type="text" class="form-control" id="wormhole" value="<?php echo $sheet['hole']; ?>">
          </div>
          <br />
          <div class="form-group">
           <label class="" for="sitesRan">Completed Sites</label>
           <input <?php if ($readonly) print "readonly"; ?> type="number" value="0" class="form-control" id="sitesRan" placeholder="" value="<?php echo $sheet['sites']; ?>">
          </div>
          <div class="form-group">
           <label class="" for="totalIsk">Total Isk</label>
           <input <?php if ($readonly) print "readonly"; ?> type="text" value="0" class="form-control" id="totalIsk" placeholder="" value="<?php echo $sheet['isk']; ?>">
          </div>
          <div class="form-group">
            <label class="" for="corpCut">Stahp Cut</label>
            <input readonly type="text" value="0" class="form-control" id="corpCut" placeholder="" value="">
           </div>
         </div>
         <div class="panel-heading">
           Fleet Members
         </div>
         <div class="panel-body">

          <div class="row">
            <table class="table">
    				  <thead>
                <th>Active</th>
                <th>Name and Role</th>
    				  	<th> Sites Completed </th>
    				  	<th>ISK!!</th>
                <th></th>
    				  </thead>
              <tbody>
                <?php if (!$readonly): ?>
                  <tr>
                    <td colspan="3" style="text-align: center;"><button onclick="addMember()" class="btn btn-default">Add Member</button></td>
                    <td colspan="1"> <button onclick="togglePaid()" class="btn">Mark as <?php echo $paid ? "Unpaid" : "Paid" ?></button></td>
                  </tr>
                <?php endif ?>
              </tbody>
            </table>
          </div>
  			</div>
  		</div>
  </div>
</div>
		<?php include "templates/footer.html";?>
		<?php include "templates/scripts.html";?>
    <script src="/static/js/loot.js"></script>
    <script>
      var sheetID = <?php echo $id; ?>;
      var readonly = <?php echo $readonly; ?>;
      var a = <?php echo $entries ?>; 
      updateTable(a);
      setInterval(syncLootSheet, 5000);
    </script>
	</body>
</html>

