<footer>
  <div class="container text-center footer">
    <span class="text-center">Created by <a href="#" onclick="CCPEVE.showInfo(1377, 92918872)">Nimos Endashi</a> for <a href="#" onclick="CCPEVE.joinChannel('Crow Vanguard')">Crow Vanguard</a> and <a href="#" onclick="CCPEVE.showInfo(16159, 99003214)">Brave Collective</a> - Donations Welcome!</span>
  	<br /><span class="text-center">All Eve related materials are the property of <a href="http://www.ccpgames.com">CCP Games</a></span>
  	<br /><span class="text-center small">Version <?echo $GLOBALS['version'];?></span>
  </div>
</footer>