	<head>
		<title><?php  echo $pageTitle  . " - " . $GLOBALS['projectName'] ?></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
   		<link rel="stylesheet" href="<?php  echo $GLOBALS['staticUrl']; ?>css/wh.css">
   		<script>
   			var isIngameBrowser = <?php  if ($charInfo->trusted) {echo "true";} else {echo "false";}; ?>;
   		</script>
  	</head>
