<?php echo $GLOBALS['doctype'] ?>
<html>
  <?php include "templates/head.html";?>
  <body>
    <?php  showLayout() ?>
    <div class="container">
      <div class="alert alert-info">Make sure to check out our <a href="/help" class="alert-link">Help Section</a> for awesome guides and ship fittings!</div>
      <?php  if ($GLOBALS['news'] != ""): ?>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">News</h3>
          </div>
          <div class="panel-body">
            <?php  echo $GLOBALS['news']; ?>
          </div>
        </div>
      <?php  endif ?>
    	<div class="panel panel-default">
        <div style="overflow: hidden" class="panel-heading">
          <h3 class="panel-title pull-left">Recently scanned wormholes</h3>
          <h1 class="panel-title pull-right panel-title">
            Filters:
            <button id="allHoles" class="btn btn-default btn-success btn-xs ">All Holes</button>
            <button id="noHoles" class="btn btn-default btn-success btn-xs ">No Holes</button>
            Class:
            <button id="C1" class="btn btn-default btn-success btn-xs filterbutton">C1</button>
            <button id="C2" class="btn btn-default btn-success btn-xs filterbutton">C2</button>
            <button id="C3" class="btn btn-default btn-success btn-xs filterbutton">C3</button>
            <button id="C4" class="btn btn-default btn-success btn-xs filterbutton">C4</button>
            <button id="C5" class="btn btn-default btn-success btn-xs filterbutton">C5</button>
            <button id="C6" class="btn btn-default btn-success btn-xs filterbutton">C6</button>   
            Effect: 
            <button id="effNE" class="btn btn-default btn-success btn-xs filterbutton">NE</button>
            <button id="effM" class="btn btn-default btn-success btn-xs filterbutton">M</button>
            <button id="effRG" class="btn btn-default btn-success btn-xs filterbutton">RG</button>
            <button id="effP" class="btn btn-default btn-success btn-xs filterbutton">P</button>
            <button id="effWR" class="btn btn-default btn-success btn-xs filterbutton">WR</button>
            <button id="effCV" class="btn btn-default btn-success btn-xs filterbutton">CV</button>   
            <button id="effBH" class="btn btn-default btn-success btn-xs filterbutton">BH</button>   
            Sites :
            <button id="siteFilter10" class="btn btn-default btn-xs filterbutton filtersites">>10</button>
         </h1>
          <?php /* Optional, uncomment for home base selector
            <h1 class="panel-title pull-right panel-title" style="margin-right: 5px;">Home System:
            <select id="homeSystem">
              <option <?php  if ($home == "GJ0-OJ"): ?>selected="selected"<?php  endif ?>value="GJ0-OJ">GJ0-OJ</option>
              <option <?php  if ($home == "Ratillose"): ?>selected="selected"<?php  endif ?> value="Ratillose">Ratillose</option>
              <option <?php  if ($home == "Sendaya"): ?>selected="selected"<?php  endif ?> value="Sendaya">Sendaya</option>
              <option <?php  if ($home == "Chidah"): ?>selected="selected"<?php  endif ?> value="Chidah">Chidah</option>
            </select>
          </h1> */ ?>
        </div>

        <div class="panel-body">
      		<table class="table table-hover">
      			<thead>
      				<tr>
      					<th class="{sorter: 'jumps'}">#Jumps</th>
      					<th>From</th>
      					<th>Class</th>
      					<th>Destination</th>
                <th>Signature</th>
      					<th>#Combat Sites</th>
      					<th>Reported By</th>
      					<th>Reported</th>
                <th><?php  if ($charInfo->trusted || $charInfo->authed): ?><a onclick="openAddModal()" id="plusWh" href="#">+</a><?php  endif ?></th>
      				</tr>
      			</thead>
      			<tbody class="holes">
      			</tbody>
      		</table>
        </div>
        <div class="panel-footer">
          <span>Old wormholes will automatically be removed after 24 hours.</span>
        </div>
 		</div>
  </div>
  <?php  if ($charInfo->trusted || $charInfo->authed) { addModal(); }?>
    <?php  include "templates/footer.html"; ?>
    <?php  include "templates/scripts.html"; ?>
    <script>
      var performanceMode = <?php echo $GLOBALS['performanceMode']; ?>;
      var refreshRate = <?php echo $GLOBALS['refreshRate']; ?>; 
      getWhData();
    </script>
  </body>
</html>