<div class="navbar navbar-inverse" role="navigation">
  
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><?php  echo $GLOBALS['projectName']; ?></a>
      <?php  if ($charInfo->trusted): ?>
        <p class="navbar-text">
          <span class="tp character_field char_header" name="<?php  echo $charInfo->charID;?>" style="background-image: url(http://image.eveonline.com/corporation/<?php echo $charInfo->corpID;?>_32.png), url(http://image.eveonline.com/character/<?php  echo $charInfo->charID;?>_32.jpg)">
            <?php echo $charInfo->charName;?>
          </span>
          - Logged In
        </p>
      <?php  endif ?>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 50px">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <?php  foreach (getGuides() as $guide): ?>
              <li><a href="/help/<?php echo $guide[0];?>"><?php echo $guide[1];?></a></li>
              <?php  endforeach ?>
              <li class="divider"></li>
              <li><a href="/help/fittings">Fittings</a></li>
            </ul>
          </li>
        <?php  if ($charInfo->trusted && isAuthenticated()): ?>
          <li><a href="#" onclick="openAddModal()">Add Wormhole</a></li>
        <?php  endif; ?>
        <li class="dropdown">
          <a href="/top">Rankings</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<?php  if ($charInfo->trusted) { addModal(); }?>
  
