<div class="navbar navbar-inverse" role="navigation">
  
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><?php  echo $GLOBALS['projectName']; ?></a>
      <p class="navbar-text" style="margin-top: 7px; margin-bottom: 7px">
        <?php  if ($charInfo->trusted or $charInfo->authed): ?>
          <span class="tp character_field char_header" name="<?php  echo $charInfo->charID;?>" style="background-image: url(http://image.eveonline.com/corporation/<?php echo $charInfo->corpID;?>_32.png), url(http://image.eveonline.com/character/<?php  echo $charInfo->charID;?>_32.jpg)">
            <?php echo $charInfo->charName;?>
          </span>
          <?php if ($charInfo->authed): ?>
            - Logged In (<a href="/logout">Logout</a>)
          <?php else: ?>
            - Unauthenticated <a href="/ssologin"><img src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=150" /></a>
          <?php endif ?>
        <?php else: ?>
          Unauthenticated <a href="/ssologin"><img src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=150" /></a>
        <?php  endif ?>
      </p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 50px">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <?php  foreach (getGuides() as $guide): ?>
              <li><a href="/help/<?php echo $guide[0];?>"><?php echo $guide[1];?></a></li>
              <?php  endforeach ?>
              <li class="divider"></li>
              <li><a href="/help/fittings">Fittings</a></li>
              <li><a href="/help/officers">List of FCs</a></li>
            </ul>
          </li>
        <?php  if ($charInfo->trusted && isAuthenticated() || $charInfo->authed): ?>
          <li><a href="#" onclick="openAddModal()">Add Wormhole</a></li>
        <?php  endif; ?>
        <?php if ($charInfo->authed): ?>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loot Sheets <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <?php if ($charInfo->officer): ?>
                <li><a href="/loot/new">New Loot Sheet</a></li>
                <li class="divider"></li>
              <?php endif ?>
              <li><a href="/loot/list">My Loot Sheets</a></li>
              <?php if ($charInfo->officer): ?>
                <li><a href="/loot/all">All Loot Sheets</a></li>
              <?php endif ?>
            </ul>
          </li>
        <?php endif; ?>
        <?php if ($charInfo->director): ?>
          <li><a href="/admin/users">Users</a></li>
        <?php endif; ?>
        <li class="dropdown">
          <a href="/top">Rankings</a>
        </li>
      </ul>
    </div>
  </div>
</div>


  
